.venv
.ruff_cache
.env
*.pyc
__pycache__/
instance/
.pytest_cache/
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.mo
*.sqlite3
.DS_Store
.idea/
.vscode/
migrations/
celerybeat-schedule
celerybeat.pid
.envrc
